<template>
  <div class="animation">
    <div v-if="animation" class="animation-wrapper">
      <div class="text">
        {{ animation.text }}
      </div>
      <div :style="getVisibility" class="text-time-left">
        {{ timeLeft }}s
      </div>
      <img :src="`/animations/${animation.id}.gif`">
    </div>
  </div>
</template>

<script>
export default {
  props: {
    count: {
      type: Number,
      default: 0
    }
  },
  data: function () {
    return {
      interval: null,
      timeLeft: 0,
      animation: null,
      ordered: []
    };
  },
  computed: {
    getImgDim: function () {
      return { width: this.animation.width };
    },
    getVisibility: function () {
      return { visibility: this.timeLeft > 4 ? 'visible' : 'hidden' };
    }
  },
  watch: {
    count: function (newCount, oldCount) {
      if (newCount !== oldCount && newCount < 3) {
        this.getRandom();
      }
    },
    timeLeft: function (newTime, oldTime) {
      if (this.interval && newTime === 4) {
        this.$emit('change-shoot');
      }
      if (this.interval && newTime === 0) {
        clearInterval(this.interval);
      }
    }
  },
  mounted: function () {
    this.getRandom();
  },
  methods: {
    getRandom: function () {
      const loading = this.$loading({
        lock: true,
        text: 'Cargando',
        spinner: 'el-icon-loading',
        background: 'rgba(0, 0, 0, 0.7)'
      });
      let query = '';
      if (this.ordered.length > 0) {
        query = `?selected=${this.ordered.join(',')}`;
      }
      this.$axios.$get(`/api/randomAnimation${query}`)
        .then(response => {
          this.animation = response;
          this.ordered.push(response.id);
          this.timeLeft = this.animation.time;
          this.interval = setInterval(() => {
            this.timeLeft = this.timeLeft - 1;
          }, 1000);
          loading.close();
        })
        .catch(error => {
          console.error(error);
        });
    }
  }
};
</script>

<style>
.animation {
  overflow: hidden;
  width: 100%;
  height: 100%;
  position: absolute;
}
.animation .text {
  z-index: 1;
  text-align: center;
  padding: 5vw 5vw 5vw 5vw;
}
.animation .text-time-left {
  z-index: 1;
  text-align: center;
  padding-bottom: 5vw;
  margin-bottom: auto;
}
.animation-wrapper {
  display: flex;
  height: 100%;
  justify-content: center;
  flex-direction: column;
}
.animation-wrapper img {
  margin-top: auto;
  width: 90%;
  align-self: center;
  margin-bottom: 5vw;
}
</style>
