/* Color del tema */
$--color-primary: #7e6382;

/* Ubicación de la fuente, obligatoria */
$--font-path: '~element-ui/lib/theme-chalk/fonts';

@font-face {
  font-family: 'Do Hyeon';
  src: url('../static/fonts/DoHyeon-Regular.ttf');
}

@import '~element-ui/packages/theme-chalk/src/index';
