<template>
  <div v-if="!isPrinting" class="whole">
    <el-row>
      <el-col :span="18" :class="getSpaceClass">
        <div v-if="selectedPhotos.length === 0" class="space">
          <span v-if="photos.length < 3">Waiting for photos</span>
          <span v-else>Choose photos!</span>
        </div>
        <table>
          <tr v-for="(images, i) in getColumns" :key="i">
            <td
              v-for="(photo, key) in images"
              :key="key"
              style="position: relative"
              :rowspan="getRowspan(key)"
            >
              <el-button
                class="reset-image"
                icon="el-icon-refresh"
                circle
                @click="doubletap(i, key)"
              />
              <img ref="photos" :class="getClass(key)" :src="`/photos/${photo.filename}`">
            </td>
          </tr>
        </table>
      </el-col>
      <el-col :span="6">
        <div style="position: relative">
          <el-row class="mini-imgs-container">
            <el-col v-for="photo in photos" :key="photo.id" :span="24">
              <label :class="getCheckClass(photo.id)" @click="handleClick(photo.id)">
                <img :src="`/photos/${photo.filename}`" @click.prevent>
                <input type="checkbox" name="image[]" value>
                <i class="el-icon-success" />
              </label>
            </el-col>
          </el-row>
          <div v-if="photos.length < 3" class="overlay" />
        </div>
      </el-col>
    </el-row>
    <div class="button-holder">
      <el-button
        v-if="selectedPhotos.length > 0"
        type="info"
        icon="el-icon-back"
        circle
        @click="handleHome"
      />
      <el-button
        v-if="selectedPhotos.length > 0"
        type="primary"
        icon="el-icon-printer"
        circle
        @click="handlePrint"
      />
    </div>
  </div>
</template>

<script>
import Cropper from 'cropperjs';
import { append, reject } from 'ramda';
if (process.browser) {
  require('blueimp-canvas-to-blob');
}
const blobToFile = (theBlob, fileName) => {
  // A Blob() is almost a File() - it's just missing the two properties below which we will add
  theBlob.lastModifiedDate = new Date();
  theBlob.name = fileName;
  return theBlob;
};

export default {
  layout: 'photomirror',
  data: function () {
    return {
      selectedPhotos: [],
      photos: [],
      isPrinting: false
    };
  },
  computed: {
    getSpaceClass: function () {
      return this.photos.length === 3 && 'loaded';
    },
    getColumns: function () {
      return this.selectedPhotos
        .map(x => this.photos.find(y => y.id === x))
        .reduce((result, value, index, array) => {
          if (index % 2 === 0) {
            result.push(array.slice(index, index + 2));
          }
          return result;
        }, []);
    }
  },
  mounted: function () {
    socket.on('foto', img => {
      this.photos.push(Object.assign({}, img, { id: this.photos.length + 1 }));
    });
    socket.on('home', () => {
      console.log('Redirigiendo a home por error');
      this.$router.push('/?error=Fallo en camara. Intenta de nuevo');
    });
    /* const interval = setInterval(() => {
      if (this.photos.length === 0) {
        this.photos.push({ id: 1, filename: '2018-04-23T12:31:55.820Z.jpg' });
      } else if (this.photos.length === 1) {
        this.photos.push({ id: 2, filename: '2018-04-23T12:30:34.402Z.jpg' });
      } else if (this.photos.length === 2) {
        this.photos.push({ id: 3, filename: '2018-04-23T12:27:16.640Z.jpg' });
      } else {
        clearInterval(interval);
      }
    }, 500); */
  },
  beforeUpdate: function () {
    if (this.cropper) {
      this.cropper.forEach(crop => {
        crop.destroy();
      });
    }
  },
  updated: function () {
    if (this.$refs.photos) {
      const cropper = this.$refs.photos.map(
        (img, key) =>
          new Cropper(img, {
            aspectRatio: this.getAspect(key),
            autoCropArea: 1,
            dragMode: 'move',
            cropBoxMovable: false,
            cropBoxResizable: false,
            toggleDragModeOnDblclick: false,
            ready: event => {
              this.zoomPhotos(cropper, key);
            }
          })
      );
      this.cropper = cropper;
    }
  },
  methods: {
    doubletap: function (i, key) {
      let temp = 0;
      if (i === 1) {
        temp = 2;
      } else {
        temp = i + key;
      }
      this.cropper[temp].reset();
      this.zoomPhotos(this.cropper, temp);
    },
    handleHome: function () {
      this.$router.push('/');
    },
    handlePrint: function () {
      this.isPrinting = true;
      const loading = this.$loading({
        lock: true,
        text: 'Imprimiendo',
        spinner: 'el-icon-loading',
        background: 'rgba(0, 0, 0, 0.7)'
      });
      const config = { headers: { 'Content-Type': 'multipart/form-data' } };
      const fd = new FormData();
      this.selectedPhotos.forEach((val, index) => {
        this.cropper[index]
          .getCroppedCanvas({
            width: 2592,
            height: 1728
          })
          .toBlob(blob => {
            fd.append('file', blobToFile(blob, `imagen${index}`));
            if (this.selectedPhotos.length - 1 === index) {
              this.$axios.$post('/api/upload', fd, config);
              loading.close();
              this.$router.push('/');
            }
          });
      });
    },
    handleClick: function (id) {
      if (this.selectedPhotos.indexOf(id) === -1) {
        this.selectedPhotos = append(id, this.selectedPhotos);
      } else {
        this.selectedPhotos = reject(x => x === id, this.selectedPhotos);
      }
    },
    getCheckClass(id) {
      if (this.selectedPhotos.indexOf(id) !== -1) {
        return 'image-checkbox checked';
      }
      return 'image-checkbox';
    },
    getBgImage: function (id) {
      const image = this.photos.find(x => x.id === id);
      return {
        backgroundImage: `url(/photos/${image.filename})`
      };
    },
    getRowspan: function (key) {
      if (this.selectedPhotos.length === 3 && key === 0) {
        return 2;
      }
      return 1;
    },
    getClass: function (key) {
      if (this.selectedPhotos.length === 2) {
        return 'double';
      }
      return 'simple';
    },
    getAspect: function (key) {
      if (
        this.selectedPhotos.length === 2 ||
        (this.selectedPhotos.length === 3 && key === 0)
      ) {
        return 3 / 4;
      }
      return 3 / 2;
    },
    zoomPhotos: function (cropper, key) {
      if (this.selectedPhotos.length === 2) {
        const photo = cropper[key];
        const current = photo.getCropBoxData();
        photo.rotate(90);
        photo.zoom(0.5);
        photo.setCropBoxData({
          left: 0,
          top: 0,
          width: current.width * 2,
          height: current.height * 2
        });
      } else if (this.selectedPhotos.length === 3 && key === 0) {
        const photo = cropper[key];
        const current = photo.getCropBoxData();
        photo.zoom(1);
        photo.setCropBoxData({
          left: 0,
          top: 0,
          width: current.width * 2,
          height: current.height * 2
        });
      }
    }
  }
};
</script>

<style>
.space {
  height: 50vw;
  background-color: white;
  color: black;
  text-align: center;
  padding-top: 25%;
}
table {
  width: 100%;
}
td {
  overflow: hidden;
}
table img {
  display: block;
}
table img.double {
  max-width: 200%;
  width: 200%;
}
table img.simple {
  max-width: 100%;
  width: 100%;
}
/*image gallery*/
.image-checkbox {
  cursor: pointer;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: 4px solid transparent;
  margin-bottom: 0;
  outline: 0;
}
.image-checkbox img {
  max-width: 100%;
  opacity: 1;
}
.image-checkbox input[type="checkbox"] {
  display: none;
}
.image-checkbox .el-icon-success {
  display: none;
}
.image-checkbox.checked .el-icon-success {
  display: block;
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 5vw;
}
.image-checkbox.checked img {
  opacity: 0.7;
}
.el-col {
  position: relative;
}
#__layout {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  position: absolute;
}
#__layout > div {
  width: 100%;
}
.overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  background-color: #7e6382;
  opacity: 0.5;
}
.button-holder {
  text-align: center;
  position: fixed;
  width: 100%;
  bottom: 1vw;
}
.button-holder .el-button:first-child {
  margin-right: 30px;
}
.button-holder .el-button {
  font-size: 5vw;
  padding: 2vw;
}
.whole {
  width: 100%;
}
.loaded {
  margin-top: 1vw;
}
.reset-image {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  font-size: 10px;
  padding: 3px;
  margin: 5px 5px 0 0;
}
</style>
