<template>
  <el-container>
    <el-main>
      <el-row>
        <el-button type="primary" round @click="handleClick">
          PHOTO!
        </el-button>
      </el-row>
    </el-main>
    <div class="video-container" @click="play">
      <div class="opacity-layer" />
      <video
        ref="video"
        class="video"
        playsinline
        autoplay
        muted
        loop
      >
        <source src="/video/624063834.mp4" type="video/mp4">
      </video>
    </div>
  </el-container>
</template>

<script>
export default {
  layout: 'photomirror',
  mounted: function () {
    this.$refs.video.play();
    socket.on('inicio', () => {
      this.$router.push('/photo');
    });
    if (this.$route.query.error) {
      this.$message.error({
        message: this.$route.query.error,
        duration: 5000
      });
    }
  },
  methods: {
    play: function () {
      this.$refs.video.play();
    },
    handleClick: function () {
      socket.emit('inicio');
      this.$router.push('/dnd');
    }
  }
};
</script>

<style>
.video-container {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.video-container > .opacity-layer {
  height: 100%;
  background-color: black;
  opacity: 0.5;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  z-index: 1;
}
.video-container video {
  /* Make video to at least 100% wide and tall */
  min-width: 100%;
  min-height: 100%;

  /* Setting width & height to auto prevents the browser from stretching or squishing the video */
  width: auto;
  height: auto;

  /* Center the video */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.el-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.el-main {
  z-index: 2;
}
.el-message__content {
  font-size: 4vw;
}
.el-button {
  font-size: 15vw;
  z-index: 999;
}
.el-button.is-round {
  padding: 4vw 8vw;
}
</style>
