<template>
  <div class="photo-wrapper">
    <Animation v-if="showAnim" ref="anim" :count="count" @change-shoot="shoot = true" />
    <div v-if="shoot" class="overlay" />
    <CountDown v-if="shoot" @receive-photo="onReceivePhoto" @fail-photo="goHome" />
    <el-alert v-if="error" :title="error" type="error" />
  </div>
</template>

<script>
import Animation from '~/components/Animation.vue';
import CountDown from '~/components/CountDown.vue';

export default {
  layout: 'photomirror',
  components: {
    CountDown,
    Animation
  },
  data: function () {
    return {
      shoot: false,
      error: null,
      count: 0,
      showAnim: true
    };
  },
  methods: {
    goHome: function () {
      console.log('Emitiendo home y redirigiendo');
      socket.emit('home');
      this.$router.push('/?error=Fallo en camara. Intenta de nuevo');
    },
    onReceivePhoto: function (photo) {
      if (photo.error) {
        this.error = photo.error;
      } else {
        this.showAnim = false;
        this.count = this.count + 1;
        socket.emit('foto', { count: this.count, filename: photo.filename });
        this.shoot = !this.shoot;
        this.showAnim = true;
        if (this.count === 3) {
          this.$router.push('/');
        }
      }
    }
  }
};
</script>

<style>
.photo-wrapper {
  display: flex;
  position: absolute;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.photo-wrapper > img {
  width: 100%;
  z-index: 999;
}
.overlay {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  background-color: #000;
  opacity: 0.75;
  z-index: 5;
}
.el-alert__title {
  font-size: 4vw;
}
.el-alert {
  z-index: 999;
}
.el-alert__content {
  margin: 0 auto;
}
</style>
